html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 9vh;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 9vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container5 {
  background-color: gainsboro;
  width: 100%;
  min-height: 82vh;
  height: 80%;
}

h1,
h2 {
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  -webkit-text-stroke: 2px #282828;
  text-shadow: 0px 4px 4px #282828;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

.whiteText,
.aboutText {
  color: black;
  text-align: center;
}

.aboutText {
  margin: auto;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm label {
  color: black;
}

.searchForm input[type="submit"] {
  margin-top: 30px;
}

.videoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.video {
  padding: 50px;
}
.recordDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aboutDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.aboutText {
  margin: 0px 50px 10px 50px;
}
.profileDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recordForm label {
  color: black;
}

#myCamera, #video-player {
    margin: 0 25px;
    height: 360px !important;
    width: auto;
}