body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
​
.logout-link {
  cursor: pointer;
}

.cardImg {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.card-title {
  text-align: center;
}

.card{
  border: 0px;
}